.montserrat-bold-50-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.montserrat-bold-40-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #444444;
}

.montserrat-bold-30-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #444444;
}

.montserrat-bold-30-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.montserrat-bold-25-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #444444;
}

.montserrat-bold-20-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}

.montserrat-bold-20-e5e5e5 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #e5e5e5;
}

.montserrat-bold-20-ff9960 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ff9960;
}

.montserrat-bold-20-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.montserrat-bold-12-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.montserrat-semibold-30-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-30-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.montserrat-semibold-25-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-25-ec2028 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #ec2028;
}

.montserrat-semibold-25-ff9960 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #ff9960;
}

.montserrat-semibold-25-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.montserrat-semibold-20-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-20-ec2028 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ec2028;
}

.montserrat-semibold-20-ff9960 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ff9960;
}

.montserrat-semibold-20-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.montserrat-semibold-18-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-16-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-16-ec2028 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ec2028;
}

.montserrat-semibold-16-999999 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #999999;
}

.montserrat-semibold-16-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.montserrat-semibold-12-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #444444;
}

.montserrat-semibold-12-ec2028 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ec2028;
}

.montserrat-semibold-12-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.montserrat-medium-20-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #444444;
}

.montserrat-medium-20-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.montserrat-medium-16-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}

.montserrat-medium-16-999999 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}

.montserrat-medium-14-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #444444;
}

.montserrat-medium-14-ffffff {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.montserrat-medium-12-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

.montserrat-medium-12-ec2028 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ec2028;
}

.montserrat-medium-10-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #444444;
}

.montserrat-regular-20-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #444444;
}

.montserrat-regular-16-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}

.montserrat-regular-14-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.montserrat-regular-12-444444 {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #444444;
}

#map-canvas{
  width: 100%;
  height: 100%;
}